@font-face {
	src: url("../static/font/cooper.ttf");
	font-family: cooper-black-std;
	font-weight: bold;
}

$cooper-border: #591D22;

html {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.0)), url("../static/img/bg.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	color: white;
}

#hero {
	width: 100vw;
	height: 100vh;

	padding-top: 5em;

	display: flex;
	flex: 1 1 0;
	flex-flow: column nowrap;
	place-content: stretch space-between;
	align-items: center;

	#hero-inner {
		display: flex;
		flex-grow: 1;

		flex-direction: column;
		flex-wrap: nowrap;
		align-content: stretch;
		align-items: center;
		justify-content: center;

		#hero-logo {
			transform: translatey(0px);
			animation: float 6s ease-in-out infinite;
		}

		#hero-spacer {
			margin: 1em auto;
		}

		#hero-right {
			font-family: cooper-black-std, sans-serif;
			text-shadow: -2px 0 $cooper-border, 0 2px $cooper-border, 2px 0 $cooper-border, 0 -2px $cooper-border;
			text-align: center;

			#hidden-title {
				position: absolute;
				visibility: hidden;
			}

			h2, h3, h4 {
				margin: 0;
			}

			h2 {
				font-size: 3rem;
				margin-bottom: 0.4rem;
			}

			h3 {
				font-size: 1.75rem;
			}

			h4 {
				font-size: 1.3rem;
			}
		}
	}

	img {
		//width: 100%;
		max-width: 100%;
		max-height: 450px;
	}

	#scroll-indicator {
		flex: 0 0 auto;
		height: 20vh;
		padding-top: 2em;
	}
}

#scroll-indicator p {
	font-weight: bold;
}

#fade-border {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	height: 100px;

}

footer {
	background-color: rgba(0, 0, 0, 0.3);
	padding-bottom: 1rem;
	padding-left: 1rem;
}

main {
	background-color: rgba(0, 0, 0, 0.3);
	padding-bottom: 2rem;

	section {
		h2 {
			text-align: center;
			margin: 0 auto 1.5rem auto;
			font-size: 3rem;

			text-shadow: 2px 2px 2px rgba(0,0,0,0.38);
		}

		width: 95%;
		max-width: 768px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4rem;
	}
}

#locatie {
	address {
		text-align: center;
		font-style: normal;
		font-size: 1.2rem;
	}
}

#lineup {
	button {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: stretch;

		cursor: pointer;
		width: 100%;
		color: white;
		background-color: transparent;
		border: none;
		text-align: left;
		font-size: 2rem;
		margin-bottom: 1rem;

		h3 {
			margin-top: 0;
			margin-bottom: 0;
			font-weight: normal;
		}

		#icon {
			content: "\02796"
		}
	}

	.content {
		//display: none;
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.5s ease-out;
	}

	.lineup-images {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.lineup-img {
			padding-left: 1rem;
			padding-right: 1rem;
			width: 50%;

			@media screen and (min-width: 600px){
				width: 33.3%;
			}

			@media screen and (min-width: 768px){
				width: 25%;
			}

			img {
				width: 100%;
			}

			p {
				text-align: center;
				font-size: 1.1rem;
				margin: 0.5rem auto;
			}
		}
	}
}

#inkom {
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: stretch;
		width: 80%;
		max-width: 20rem;
		margin-left: auto;
		margin-right: auto;
		//padding-left: 5rem;
		//padding-right: 5rem;

		font-size: 1.3rem;

		.col {
			//display: inline-block;
		}

		.col-4 {
			//width: 10rem;
		}
	}

	ul {
		margin: 0;
	}
}

#contact {
	a {
		color: white;
		font-weight: bold;
	}
}
